apiVersion: v1
kind: Service
metadata:
  name: {{ include "bsw.fullname" . }}-api
  labels:
    {{- include "bsw.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/component: api