{{- if .Values.frontend.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "bsw.fullname" . }}-frontend
  labels:
    {{- include "bsw.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/component: frontend
    {{- include "bsw.selectorLabels" . | nindent 4 }}
{{- end }}