{{- if .Values.postgresql.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "bsw.fullname" . }}-postgresql
  labels:
    {{- include "bsw.labels" . | nindent 4 }}
    app: postgresql
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: postgresql
      protocol: TCP
      name: postgresql
  selector:
    app: postgresql
{{- end }}