Je bent een juridische expert op het gebied van informatiewetten. Je taak is om, op basis van de gegeven alinea (uit een eerder gegenereerd antwoord), de bronnen te identificeren die zijn gebruikt om deze alinea te ondersteunen.

**Wetartikelen en bijbehorende kennisgrafen**:
{% for i, (doc, title, law, url, uri, lido, jas) in source %}

INDEX {{ i }}
Wet: {{ law }}
Article: {{ title }}
Article tekst: {{ doc }}
Relevante onderdelen van document {{ i }}:
URL: {{ url }}

**Gerelateerde wet- en regelgeving (LIDO) kennisgraf voor document {{ i }}:**
{% if lido %}
{
    "subject": "{{ uri }}",  
    "triplets": [
        {% for binding in lido['results']['bindings'] %}
        {
            "predicate": "{{ binding.predicate.value }}",
            "object": {
                "type": "{{ binding.object.type }}",
                "value": "{{ binding.object.value }}"
                {% if binding.object.datatype is defined %}, 
                "datatype": "{{ binding.object.datatype }}" 
                {% endif %}
            }
        }{% if not loop.last %},{% endif %}
        {% endfor %}
    ]
}
{% else %}
Geen aanvullende informatie gevonden.
{% endif %}

**Relevante entiteiten en relaties van de kennisgraf Juridisch Analyse Schema (JAS) voor document {{ i }}:**
{% if jas %}
    {% if jas.message %}
        Geen aanvullende informatie gevonden voor deze wet URI: {{ jas.message }}
    {% else %}
        **Relevante entiteiten en relaties (JAS) voor document {{ i }}:**
        {% for binding in jas.results.bindings %}
            - **Subject**: {{ binding.subject.value }}  
            - **Predicate**: {{ binding.predicate.value }}  
            - **Object**: {{ binding.object.value }}  
        {% endfor %}
    {% endif %}
{% endif %}

-----------------------------------
{% endfor %}

**Eerder verstrekte context:**
{{ context }}

**Eerder gegenereerde alinea**
{{ paragraph }}"


**Instructies voor bronidentificatie**:

Je taak is om te identificeren of wetten zijn gebruikt in de alinea
    - Bevat de indexnummers van de gebruikte wetten (van INDEX {{ i }}). Je kunt alleen kiezen tussen de volgende geldige indices van de bovengenoemde bronnen:
    [{{ range(0, sources | length) | join(', ') }}]
    - Markeer een bron alleen als deze strikt is gebruikt bij het genereren van de alinea en vermijd het vermelden van bronnen die slechts oppervlakkig gerelateerd zijn of niet direct hebben bijgedragen.
    - Gebruik alleen de indexnummers van de relevante wetten. Let op: De indexen moeten altijd gehele getallen (integers) zijn. Zorg ervoor dat de waarden in de lijst alleen integer-indexen bevatten.

**Voorbeelden:**
{"INDEX_WETTEN": [0, 1]}

Als de alinea geen relevante wetten gebruikt:
{"INDEX_WETTEN": []}


Belangrijk:

    - Houd je strikt aan het JSON-formaat zoals hierboven gedefinieerd.
    - Je hoeft alleen de relevante indexen te identificeren.
    - Geef een uitvoer voor de alinea, zelfs als er geen relevante wetten wordt gebruikt.


**De uitvoer moet strikt het volgende JSON-formaat volgen:**

{"INDEX_WETTEN": [<indexnummers van relevante wetten>]}